@page "/changeuserthumbnail"
@inject AuthService AuthService

<AuthorizeView>
	<Authorized>
		<h1>プロフィール画像の変更</h1>
		<div class="content">

			<div>
				<div>PNG / GIF / JPEG 画像をプロフィール画像にできます。</div>
				<div class="supplement">横 @YbdConstants.USER_THUMBNAIL_WIDTH_MAX × 縦 @YbdConstants.USER_THUMBNAIL_HEIGHT_MAX に縮小されます。縮小後のデータ容量でおよそ @(YbdConstants.USER_THUMBNAIL_LENGTH_MAX / 1024) KB までの画像を扱えます。</div>
				<div class="actions">
					<label for="input-thumbnail" class="general-button">
						画像ファイル選択
						<InputFile class="general-button" id="input-thumbnail" OnChange="@OnThumbnailFileChangeAsync" />
					</label>
				</div>
				<div class="actions">
					<button class="default-button" type="button" @onclick="OnClickChangeUserThumbnailAsync">変更</button>
				</div>
				<br />
				<div>@((MarkupString)confirm)</div>
				<div class="error-message">@changeThumbnailResult</div>
				<img src="@changeThumbnailPreview" />
			</div>

		</div>
	</Authorized>
	<NotAuthorized>
		<div class="content">
			<div>ログアウトしました。</div>
		</div>
	</NotAuthorized>
</AuthorizeView>


@code {

	// ====================================================================
	// public パラメーター
	// ====================================================================

	// 認証状態
	[CascadingParameter]
	public Task<AuthenticationState>? AuthenticationStateTask { get; set; }

	// ====================================================================
	// private 変数
	// ====================================================================

	// プロフィール画像変更プレビュー
	private String? changeThumbnailPreview;

	// 確認メッセージ
	private String confirm = String.Empty;

	// プロフィール画像送信用
	private TransferFile thumbnailFile = new();

	// プロフィール画像変更結果
	private String? changeThumbnailResult;

	// ====================================================================
	// private 関数
	// ====================================================================

	// --------------------------------------------------------------------
	// サムネイル変更ボタンがクリックされた
	// --------------------------------------------------------------------
	private async Task OnClickChangeUserThumbnailAsync()
	{
		try
		{
			if (thumbnailFile.Content.Length == 0)
			{
				changeThumbnailResult = "画像が選択されていません。";
			}
			else
			{
				changeThumbnailResult = await AuthService.SetThumbnailAsync(thumbnailFile);
			}
			if (!String.IsNullOrEmpty(changeThumbnailResult))
			{
				StateHasChanged();
				return;
			}
			NavigationManager.NavigateTo("/mypage/" + Uri.EscapeDataString("プロフィール画像を変更しました。"), true);
		}
		catch (Exception excep)
		{
			ClientCommon.NavigateToClientError(NavigationManager, excep);
		}
	}

	// --------------------------------------------------------------------
	// サムネイルファイル指定が変更された
	// --------------------------------------------------------------------
	private async Task OnThumbnailFileChangeAsync(InputFileChangeEventArgs e)
	{
		try
		{
			IBrowserFile resizedImageFile = await e.File.RequestImageFileAsync(e.File.ContentType, YbdConstants.USER_THUMBNAIL_WIDTH_MAX, YbdConstants.USER_THUMBNAIL_HEIGHT_MAX);
			Byte[] buffer = new Byte[resizedImageFile.Size];
			await resizedImageFile.OpenReadStream().ReadAsync(buffer);
			thumbnailFile.Content = buffer;
			thumbnailFile.Mime = e.File.ContentType;
			changeThumbnailPreview = $"data:{e.File.ContentType};base64,{Convert.ToBase64String(buffer)}";
			confirm = "プレビュー：プロフィール画像は<span class='error-message'>まだ変更されていません</span>。この画像で良ければ、「変更」ボタンをクリックしてください。"
					+ "<span class='supplement'>（形式：" + e.File.ContentType + "、データ容量：" + (buffer.Length / 1024).ToString() + " KB）</span>";
			changeThumbnailResult = String.Empty;
		}
		catch (Exception excep)
		{
			ClientCommon.NavigateToClientError(NavigationManager, excep);
		}
	}

}
